@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Poppins';
  src: url('../fonts//Poppins-Regular.ttf') format('truetype');
}


body {
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
  font-family: 'Poppins';
}

.wrapper {
  max-width: 1103px;
  margin: 0 auto;
}